.App{
  margin-left: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 225, 225);
  padding-left: 100px;
  padding-right: 120px;
  padding-bottom: 100px;
}
.parent-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  margin-top: 10px;
  background-color: rgb(149, 7, 147);
}